h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: garamond;

}
.fs-4{
    padding-bottom:50px;
}
header {
	background-color: darkslategrey;
  position: fixed;
  width: 100%;
  margin-bottom:20px;
}

footer {
  background-color: darkslategrey;
}

p {
	font-size: xx-large;
	font-style: italic;
	text-align: center;
}

span {
    color: whitesmoke;
    font-weight: 700;
}

body {

  background-color: #9ae39a;
}

.grid-col-span-3{
    grid-column: span 3;
}

.container {
    display: grid; /*this activates css grid*/
    gap: 20px; /*gives a gap between each item*/
    grid-template-columns: repeat(3, 1fr);
    column-width: 100rem;

}

.container p{
	font-size: medium;
}

.btn {
  text-transform: uppercase;
}

.btn-primary{
  background-color: whitesmoke;
  border-color: darkslategrey;
  color: black;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: darkslategrey;
  transform: scale(1.02);
  border-color: darkslategrey;
  border-width: 1px;
  border-radius: 25px;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.btn-primary:focus{
  background-color: darkslategrey;
  border-color: darkslategrey;
}

.btn-heart {
  margin-left: 10px;
  color: darkred;
  background-color: whitesmoke;
  border-radius: 200px;
  border-color: darkred;
  transition: all 0.3s;
}

.btn-heart:hover {
  color: whitesmoke;
  background-color: darkred;
  border-color: darkred;
  transform: scale(1.02);
  border-width: 1px;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.btn-heart:focus {
  background: darkred;
  color: whitesmoke;
}

.btn-xl {
  padding: 0.25rem 1rem;
}

.btn-x2 {
  padding: 0.75rem 1rem;
}

.btn-special {
  height: 60px;
  margin-bottom: 10px;
}

.type {
    background-color: whitesmoke;
    text-align: center;
    font-size:2em;
    border-radius:30px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
    padding-top: 15px;
}

.type:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.nav-link{
  text-decoration: none;
  color: whitesmoke;
  padding-right: 30px;
  padding-left: 30px;
}

.nav-link:hover{
  border:0.025px solid #bbb;
  color: whitesmoke;
  border-radius: 8px;
}

.text-muted {
  color: whitesmoke;
  border-width: 0px;
}

.nav{
  margin-right: 15px;
}

.typeSpecial {
    background-color: whitesmoke;
    text-align: center;
    font-size:2em;
    border-radius:30px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
    padding-top: 10px;
}


#specialOffer{
  width: 40%;
  border-color: whitesmoke;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  transition: all 0.1s;

}

#white{
  width: 40%;
  border-color: whitesmoke;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  transition: all 0.1s;
}

#white{
    width: 40%;
    border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
    margin-top:150px;
}

#specialOffer:hover{
  transform: scale(1.05);
  border-color: darkslategrey;
}

.bi-award {
  width: 30px;
  height: 30px;
}

.bi-basket3 {
  margin-bottom: 5px;
  margin-left: 5px;
}



